/* Soluzione qui */

/* Mobile resolution */

@media screen and (min-width: 567px) {

    .social-networks {

        .btn {
            width: 20%;
        }
    }


    .presentation {

        .clearfix {

            img {
                margin-right: 0.5rem;
                float: left;
            }
        }
    }
    
}

/* Tablet resolution */

@media screen and (min-width: 768px){

    main {
        padding: 40px;
    }

    #topbar {
        justify-content: left;
    }

    .recipe-name {
        font-size: 2rem;

        .recipe-origin {
            display: inline-block;
        }
    }

    .quick-notes {


        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly; /* Non c'entra niente, è solo più figo ordinato così*/

            li {
                width: 33%;
            }
        }
    }

    .social-networks {

        .btn {
            width: 20%;
        }
    }

    .ads {
        display: block;
    }

    .presentation {

        .clearfix {

            img {
                margin-right: 0.5rem;
                float: left;
            }
        }
    }
}

/* Desktop resolution */

@media screen and (min-width: 992px) {

    #topbar {
        justify-content: left;
    }

    .recipe-name {
        font-size: 3rem;

        .recipe-origin {
            display: inline-block;
        }
    }

    .recipe-card {
        display: flex;

        .recipe-video {
            width: 70%;
            max-height: 500px;
        }

        .recipe-info {
            width: 30%;
        }
    }

    .social-networks {

        .btn {
            width: 20%;

            .label {
                display: inline-block;
            }
        }
    }

    .ads {
        display: block;
    }

    .presentation {

        .clearfix {

            img {
                margin-right: 0.5rem;
                float: left;
            }
        }
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }
}